#display_box {
    width: 1000px;
    height: 570px;
    position: relative;

    margin: 30px;
    padding-left: 5px;

    border: 3px solid lightblue;
}

.bar {
    margin-bottom: auto !important;
    bottom: 0;
    position: absolute;
    vertical-align: bottom;

    background-color: black;
    width: 7px;
}

#header {
    margin-bottom: -20px !important;
}

#controls_box {
    color: black;
    float:left;
}

.control {
    display: inline-block;
    margin-left: 30px;
}

#speed_toggle, #bar_toggle {
    background-color: black;
    color: white;
    border: black;
}