#header_title {
    margin-left: 30px;
    font-size: 26px;
}

.nav_link {
    color: black !important;
    /* color: white !important; */
    font-size: 18px;
    font-weight: 500;
    background: none;
    border: none;
    margin-top: 6px;
    margin-right: 7px;
}

.nav_link:hover {
    color: blue !important;
}
