#header_title {
    margin-left: 20px;
}

.nav_link {
    color: white !important;
}


.nav_link {
    color: white !important;
    background: none;
    border: none;
}

.nav_link:hover {
    color: gold !important;
}
